@using PersonalizacionProyectoGradoWASM.Modelos
@if (Pedido != null)
{
    <div class="modal-backdrop-pedido">
        <div class="modal-card-pedido">

            <div class="modal-header-pedido">
                <h3>Detalles del Pedido #@Pedido.Id</h3>
                <button class="modal-close-pedido" @onclick="OnCerrar">✖</button>
            </div>

            <div class="modal-body-pedido">
                <p><strong>Fecha:</strong> @Pedido.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</p>
                <p><strong>Estado:</strong> @Pedido.Estado</p>

                <hr />

                <table class="users-table-pedido">
                    <thead>
                        <tr>
                            <th>Accesorio</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Pedido.Items)
                        {
                            <tr>
                                <td>@item.Accesorio.Descripcion</td>
                                <td>@item.Cantidad</td>
                                <td>Bs @item.Accesorio.Precio.ToString("F2")</td>
                                <td>Bs @(item.Accesorio.Precio* item.Cantidad).ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h3 class="total-pedido">
                    Total: Bs @Pedido.PrecioTotal.ToString("F2")
                </h3>
            </div>

        </div>
    </div>
}

@code {
    [Parameter] public PedidosComprasDto Pedido { get; set; }
    [Parameter] public EventCallback OnCerrar { get; set; }
}
